/* Gradient background animation */
/*body {
	height: 100vh;

	background: linear-gradient(-45deg, #000, #222, #444, #666);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}*/

* {
	box-sizing:border-box;
	vertical-align: top;
}

body {
	height:100vh;
	width:100vw;
	padding:0;
	margin:0;
	overflow: hidden;
}
.narra-main {
	height:100%;
	width:100%;
	padding:0;
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
}

.title-card {
	width: 100%;
	height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
	display: flex;
	flex-direction:column;
	justify-content:space-evenly;
}
h1 {
	text-align: center;
	font-size: 4em;
}
h2 {
	text-align: center;
	font-size: 2em;
}

.sequences-container {
	padding:4%;
}
.sequence {
	display:none;
	position: relative;
	z-index: 10;
}
.sequence:nth-last-child(2) {
	opacity: 0.9;
}
.sequence:nth-last-child(3) {
	opacity: 0.8;
}
.sequence:nth-last-child(4) {
	opacity: 0.7;
}
.sequence:nth-last-child(5) {
	opacity: 0.6;
}
.sequence:nth-last-child(6) {
	opacity: 0.5;
}
.sequence:nth-last-child(7) {
	opacity: 0.4;
}
.sequence:nth-last-child(8) {
	opacity: 0.3;
}
.sequence:nth-last-child(n+9) {
	opacity: 0.2;
}

.choice {
    margin-left: 30px;
	cursor: pointer;
}
.choice.selected {
	cursor:text;
}
.next {
	opacity: 0.6;
    margin-left: 30px;
	font-style: italic;
	cursor: pointer;
}

p {
    text-indent: 20px;
	margin: 25px 0;
	font-size: 20px;
    line-height: 1.25;
}

.hide {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
}

.floating1 {  
    animation-name: floatingA;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.floating2 {  
    animation-name: floatingA;
    animation-duration: 9.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.floating3 {  
    animation-name: floatingA;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.floating4 {  
    animation-name: floatingA;
    animation-duration: 10.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.floating5 {  
    animation-name: floatingA;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.floating6 {  
    animation-name: floatingB;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.floating7 {  
    animation-name: floatingB;
    animation-duration: 9.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.floating8 {  
    animation-name: floatingB;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.floating9 {  
    animation-name: floatingB;
    animation-duration: 10.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.floating10 {  
    animation-name: floatingB;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floatingA {
    from { transform: translate(0,  0px); }
    5%  { transform: translate(0, 0px); }
    15%  { transform: translate(1px, 4px); }
    18%  { transform: translate(1px, 4px); }
    28%  { transform: translate(2px, -1px); }
    32%  { transform: translate(2px, -1px); }
    52%  { transform: translate(1px, 10px); }
    55%  { transform: translate(1px, 10px); }
    65%  { transform: translate(1px, 6px); }
    68%  { transform: translate(1px, 6px); }
    80%  { transform: translate(2px, 9px); }
    83%  { transform: translate(2px, 9px); }
    to   { transform: translate(0px, -0px); }    
}
@keyframes floatingB {
    from { transform: translate(0,  0px); }
    4%  { transform: translate(0, 0px); }
    14%  { transform: translate(0px, -2px); }
    18%  { transform: translate(0px, -2px); }
    32%  { transform: translate(1px, 3px); }
    36%  { transform: translate(1px, 3px); }
    47%  { transform: translate(1px, 1px); }
    51%  { transform: translate(1px, 1px); }
    65%  { transform: translate(2px, 9px); }
    73%  { transform: translate(2px, 9px); }
    82%  { transform: translate(1px, 4px); }
    88%  { transform: translate(1px, 6px); }
    91%  { transform: translate(1px, 6px); }
    to   { transform: translate(0px, -0px); }    
}

.background-image {
    background-repeat: repeat;
    position:absolute;
    top: 0;
    left: 0;
    animation-name: bg-slide;
    animation-duration: 0;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 3;
}
@keyframes bg-slide {
    from { transform: translate(0); }
    to { transform: translate(-50%, -50%); }
}